<% layout('layouts/boilerplate') %>
<h1>List of All Campgrounds</h1>
<% for (let campground of campgrounds) { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <img src="<%= imgUrl %>" class="card-img-top img-fluid" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a href="/campgrounds/<%= campground._id %>">
                    <h5 class="card-text"><%= campground.name %></h5>
                </a>
                <div class="card-text"><small class="text-muted"><%= campground.province %></small></div>
            </div>
        </div>
    </div>
</div>
<% } %>